.container {
  width: 1360px;
  margin: 0 auto;
  padding-bottom: 80px;
  @media screen and (max-width: 360px) {
    max-width: 360px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    grid-area: menu;
    grid-column: 1/5;
    margin-bottom: 30px;
    h1 {
      @extend %weight500 !optional;
      font-size: 40px;
      line-height: 120%;
      text-transform: uppercase;
      color: #111111;
      padding: 25px 0;
      @media screen and (max-width: 360px) {
        font-size: 20px;
        padding: 15px 0;
      }
    }
    div>ul {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      gap: 10px;
      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        height: 70px;
        background: #FFFFFF;
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
        border-radius: 10px;
        padding: 0 16px;
      }
      li:hover {
        background: #FFC85E;
        box-shadow: 0 0 10px #FFC85E, 0 0 20px #FFC85E;
        border-radius: 10px;
        padding: 0 16px;
      }
      @media screen and (max-width: 360px) {
        display: none;
      }
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 360px) {
      display: flex;
      flex-wrap: wrap;
    }
    .sidebar {
      grid-column: 1/2;
      p {
        @extend %weight500 !optional;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
        margin-bottom: 15px;
      }
      ul>li {
        @extend %weight400 !optional;
        line-height: 150%;
        color: #3F4E65;
        margin-bottom: 10px;
      }
      li:last-child {
        margin: 0;
      }
      .price {
        margin-bottom: 30px;
        p {
          @extend %weight500 !optional;
          line-height: 150%;
          color: #3F4E65;
        }
        input {
          text-align: center;
          background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
          border-radius: 1000px;
          width: 100px;
          height: 23px;
          padding: 5px 0;
        }
        span {
          font-size: 14px;
          line-height: 130%;
          color: #3F4E65;
          margin: 0 10px;
        }
      }
      .manufacturer {
        margin-bottom: 40px;
        p {
          @extend %weight500 !optional;
          font-size: 16px;
          line-height: 150%;
          color: #111111;
          margin-bottom: 15px;
        }
        ul>li {
          @extend %weight400 !optional;
          line-height: 150%;
          color: #3F4E65;
          margin-bottom: 5px;
          @media screen and (max-width: 360px) {
            display: none;
          }
        }

        .list>li:nth-child(n+5) {
          display: none;
        }
        
        .active>li:nth-child(n+5) {
          display: block;
        }
      
        .show_hide_list {
          cursor:pointer;
          background: #FFC85E;
          border-radius: 80px;
          padding: 16px 25px;
          display:inline-block;
          text-align:center;
          padding:10px;
        }

        form {
          position: relative;
          margin-bottom: 20px;
          .search {
            background: #EDEDED;
            width: 260px;
            height: 60px;
            border-radius: 36px;
            padding: 20px;
            margin-right: 35px;
          }
          .search__btn {
            position: absolute;
            top: 10px;
            right: 95px;
            background: #FFC85E;
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
          @media screen and (max-width: 360px) {
            display: none;
          }
        }
      }
      ul>li {
          @extend %weight400 !optional;
          line-height: 150%;
          color: #3F4E65;
          margin-bottom: 5px;
          @media screen and (max-width: 360px) {
            display: none;
          }
        }
        .body>li:nth-child(n+5) {
          display: none;
        }
        .actives>li:nth-child(n+5) {
          display: block;
        }
        .show_hide_lists {
          cursor:pointer;
          background: #FFC85E;
          border-radius: 80px;
          padding: 16px 25px;
          display:inline-block;
          text-align:center;
          padding:10px;
        }
    }
    .catalog {
      grid-column: 2/5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      @media screen and (max-width: 360px) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}