footer {
  background: #3F4E65;
  @media screen and (max-width: 360px) {
    max-width: 360px;
  }
  .footer {
    display: flex; 
    width: 1360px;
    padding: 70px 0;
    margin: 0 auto;
    @media screen and (max-width: 360px) {
      max-width: 360px;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      padding: 15px;
    }
    .brand__footer {
      margin-right: 60px;
      span {
        display: flex;
        align-items: center;
        @extend %weight400 !optional;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 15px;
        img {
          margin-right: 20px;
        }
      }
      p {
        @extend %weight400 !optional;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        width: 220px;
        margin-bottom: 45px;
        @media screen and (max-width: 360px) {
          width: 320px;
          margin-bottom: 15px;
        }
      }
      p:last-child {
        font-size: 12px;
      }
      form {
        position: relative;
        span {
          @extend %weight400 !optional;
          font-size: 12px;
          line-height: 150%;
          color: #FFFFFF;
          margin-bottom: 15px;
        }
        .search {
          background: #EDEDED;
          width: 260px;
          height: 60px;
          border-radius: 36px;
          padding: 20px;
          margin-right: 35px;
          @media screen and (max-width: 360px) {
            width: 300px;
          }
        }
        .search__btn {
          position: absolute;
          top: 42px;
          right: 50px;
          background: #FFC85E;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          @media screen and (max-width: 360px) {
            right: 50px;
          }
        }
      }
    }
    .footer__links {
      display: flex;
      flex-direction: column;
      width: 240px;
      margin-right: 60px;
      @media screen and (max-width: 360px) {
        display: none;
      }
      p {
        @extend %weight600 !optional;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 15px;
      }
      ul {
        @media screen and (max-width: 360px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
        }
      }
      ul>li {
        @extend %weight400 !optional;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 15px;
        @media screen and (max-width: 360px) {
          margin-right: 5px;
        }
      }
      a {
        @extend %weight600 !optional;
        line-height: 150%;
        color: #FFFFFF;
      }
      span {
        @extend %weight300 !optional;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;
      }
      .footer__btn {
        display: flex;
        align-items: center;
        background: #FFC85E;
        border-radius: 79px;
        @extend %weight700 !optional;
        line-height: 17px;
        color: #FFFFFF;
        padding: 20px 40px;
        margin-bottom: 20px;
        @media screen and (max-width: 360px) {
          justify-content: center;
        }
        img {
          margin-left: 15px;
        }
        @media screen and (max-width: 360px) {
          width: 300px;
        }
      }
      .network {
        display: flex;
        flex-direction: column;
        span {
          @extend %weight400 !optional;
          line-height: 150%;
          color: #FFFFFF;
          margin-bottom: 25px;
        }
        div>img {
          margin-right: 15px;
        }
        div>img:last-child {
          margin: 0;
        }
      }
      div>img {
        margin-right: 15px;
      }
      div>img:last-child {
        margin: 0;
      }
    }
    .footer__links:last-child {
      margin: 0;
    }
    .footer__links_mob {
      display: block;
    }
  }
}