@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Manrope:wght@200;400;600;700&family=Playfair+Display:ital,wght@0,700;1,400&family=Prata&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
  max-width: 1920px;
  height: 100%;
  background: #E5E5E5;
}

$maincol: #111111;

%weight300 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

%weight400 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

%weight500 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

%weight600 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

%weight700 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

%weight800 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
}